{% extends "company/base.html" %}
{% block title %} Form {% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="card shadow-lg">
        <div class="card-header bg-secondary text-white text-center">
            <h2 class="mb-1">Form</h2>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% load crispy_forms_tags %}
                {{ form|crispy }}
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
            
        </div>
    </div>
</div>
{% endblock %}